:root {
  --primary-color: #bbded6;  
}


body {
    font-family: 'Cormorant Garamond', serif;
    padding-bottom: 100px;
}

h1 {
    font-family: 'El Messiri', sans-serif;
    font-weight:600;
    font-size: 75px;
    text-align: center;
}



.intro {
    background: var(--primary-color);
    text-align: center;
    padding: 80px 0px 80px 0px;
    border-radius: 4px;
    margin: 20px;
}

.intro-navigation {
    margin-top: 50px;
}

.primary-button {
    background: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 150ms ease-in-out;
  font-size: 20px;
}

.primary-button:hover {
    border: 2px solid var(--primary-color);
    background: white;
}

.secondary-button {
    background: var(--primary-color);
    font-size: 15px;
    margin-bottom: 50px;
    transition: all 150ms ease-in-out;
}

.secondary-button:hover {
    background: white;
    border: 1px solid var(--primary-color);
}

.preview-section {
    margin-top: 100px;
    text-align: center;
}

.preview-line {
    font-size: 36px;
}

.project-preview-images {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 216px;
    padding: 5px;
    border: 1px solid var(--primary-color);
}

.project-images {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 300px;
    padding: 5px;
    border: 1px solid var(--primary-color); 
}

.summary-line {
    font-size: 18px;
    margin: 10px 0px;
}

.about-me-section {
    margin-top: 80px;
    text-align: center;
}

.profile-image {
    display: block;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid var(--primary-color);
}

.about-me-text {
font-size: 17px;

}

.project-text {
   font-size: 20px;
   margin-bottom: 30px;
   margin-top: 60px;
}

@media (max-width: 768px) {
    h1 {
font-size: 55px;
    }
    .profile-image {
        width: 300px;
    }
    .about-me-text {
        margin-top: 20px;
    }
    }
